<div class="tarjeta">
  <div class="titulo">
    <h1>Ingrese el producto</h1>
  </div>
  <div class="formulario">
    <form class="formEntrada" action="">
      <label for="">Nombre</label>
      <input type="text" />
      <label for="">Precio</label>
      <input type="number" />
      <label for="">Url imagén</label>
      <input type="text" />
      <div class="contenedor-btn">
        <button id="btnIngresar" class="btn btn-primary">Agregar</button>
      </div>
    </form>
  </div>
</div>