<div class="contenedor_tabla">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Imágen</th>
      </tr>
    </thead>
    <tbody>
      {{#if productos}}
        {{#each productos}}
          <tr>
            <td>{{nombre}}</td>
            <td>{{precio}}$</td>
            <td class="link">{{imagen}}</td>
          </tr>
        {{/each}}
      {{/if}}
    </tbody>
  </table>
</div>