<!DOCTYPE html>
<html lang="en">

{{!-- head --}}
{{> head }}

<body>

    <div class="contenedor">
        {{!-- Consulta de productos --}}
        {{> verProductos }}
    </div>

    {{!-- Footer --}}
    {{> footer }}

</body>

</html>